.task-container {
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;    
}

.checked {
  text-decoration: line-through;
}

.task-container-panel button,
.task-container-panel input {
  width: 1.65rem;
  height: 1.65rem;
}

.task-container-panel button {
  border: none;
  background-color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-container-panel {
  display: flex;
  gap: 1rem;
}
