.container {
  padding: 1em 0;
}

.container-title {
  text-align: center;
}

.hr, .container-add-task {
  margin-top: 1em;
}

.container-add-task {
  display: flex;
  gap: 1rem;
  justify-content: center;
}



