.form {  
  margin-top: 1em;
  gap: 1rem;
}

.form-input, .form-input-button {
  height: 2.8rem;
}

.form-input {
  width: 80%;
  padding: .5rem;
}

.form-input-button {
  width: 2.8rem;
  font-size: 3rem;   
  font-weight: 300;
  cursor: pointer;
}

.form-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
}